<!DOCTYPE html>
<html>
  <head>
    <title>GmapsApp2</title>
    <%= csrf_meta_tags %>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_api_key'] %>&callback=initMap"
    </script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
